header
    height: 120px
    display: flex
    flex-direction: row
    img
        width: 6.25rem
        height: 6.25rem
        flex-shrink: 0
        aspect-ratio: 1/1

    div
        display: flex
        flex-direction: row